<!--TITULOS-->
<div class="container-wrapper">
<div class="container">
    <div class="title-left">
      <h2>Meet Some of Our <br>
       <span class="subtitle">Brains</span> </h2>
    </div>
    <div class="title-right">
      <h2 class="subtitle ">MEET OUR <span class="subtitle-color">DOCTORS</span> </h2>
    </div>
  </div>
</div>

<!--SLIDER-->
<div class="slider">
<div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/800px-Bootstrap_logo.svg.png" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Hdez</h2>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione commodi quidem ipsum, quod repellat culpa aliquid ducimus explicabo. Consectetur, quidem ipsum! Animi, voluptates quo ipsam nemo aperiam natus saepe. Necessitatibus.</p>

                    <button class="btn btn-outline-primary">Appoinment</button>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
</div>

<!--SWIPER JS-->
<script src="../../../assets/javascript/swiper-bundle.min.js"></script>
<script src="../../../assets/javascript/script.js"></script>