<!-- <div class="container-cita">
<div class="container-title">
    <div class="title-left">
      <h2>MAKE AN <span class="subtitle-color">APPOINMENT</span> </h2>
    </div>
    <div class="title-right">
      <h2 class="subtitle ">Consult with our <br> Doctor</h2>
    </div>
  </div>

</div> -->


<div class="card-newsletter">
  <div class="corner-circle"></div>
  <div class="title">Subscribe to our newsletter</div>
  <div class="form-group">
    <input type="text" [(ngModel)]="firstName" placeholder="First name">
    <input type="email" [(ngModel)]="email" placeholder="Email address">
    <button type="button" (click)="subscribe()">Subscribe Now</button>
    <div class="corner-circle-bajo"></div>
  </div>
</div>
