/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 12
2. Variables para colores...................... 13
3. Estilos generales .............. 
-------------------- */


/* ----- assets ----- */
@import url(assets/css/fonts.css);
@import url(assets/css/variables-color.css);



/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
* {
	--primary-font-family: "Inter";
	margin: 0px;
	padding: 0px;
}


 body {
	font-family: var(--primary-font-family);
	background-color: var(--color-backgroud-general);
 }